/Homework/Assignment 3/Ga9EdC11P3/build/
/Homework/Assignment 3/Ga9EdC11P3/dist/
/Homework/Assignment 3/Ga9EdC11P5/build/
/Homework/Assignment 3/Ga9EdC11P5/dist/
/Homework/Assignment 3/Structure Weather Statistics/build/
/Homework/Assignment 3/Structure Weather Statistics/dist/
/Homework/Assignment 3/Structures Movie Data/dist/
/Homework/Assignment 3/Structures Movie Data/build/
/Homework/Assignment 3/11.9/build/
/Homework/Assignment 3/11.9/dist/
/Project0/V4.4 Linux/build/
/Project0/V4.4 Linux/dist/
/Homework/Assignment 5/13.1/build/
/Homework/Assignment 5/13.1/dist/
/Homework/Assignment 5/13.3/dist/
/Homework/Assignment 5/13.3/build/
/Homework/Assignment 5/14.2/dist/
/Homework/Assignment 5/14.2/build/
/Homework/Assignment 5/14.5/build/
/Homework/Assignment 5/14.5/dist/
/Homework/Assignment 5/13.4/build/
/Homework/Assignment 5/13.4/dist/
/Homework/Assignment 5/13.5/build/
/Homework/Assignment 5/13.5/dist/
/Homework/Assignment 5/14.3/build/
/Homework/Assignment 5/14.3/dist/
/Homework/Assignment 5/14.4/build/
/Homework/Assignment 5/14.4/dist/
/Project2/ChessV1 - ubuntu build/V1/dist/
/Project2/ChessV1 - ubuntu build/V1/build/
/Homework/Assignment 6/15.1a/build/
/Homework/Assignment 6/15.1a/dist/
/Homework/Assignment 6/15.4/dist/
/Homework/Assignment 6/15.4/build/
/Homework/Assignment 6/15.6/build/
/Homework/Assignment 6/15.6/dist/
/Homework/Assignment 6/16.1/build/
/Homework/Assignment 6/16.1/dist/
/Homework/Assignment 6/16.2/build/
/Homework/Assignment 6/16.2/dist/
/Homework/Assignment 6/16.4/build/
/Homework/Assignment 6/16.4/dist/
