/Homework/Assignment 3/Ga9EdC11P3/build/
/Homework/Assignment 3/Ga9EdC11P3/dist/
/Homework/Assignment 3/Ga9EdC11P5/build/
/Homework/Assignment 3/Ga9EdC11P5/dist/
/Homework/Assignment 3/Structure Weather Statistics/build/
/Homework/Assignment 3/Structure Weather Statistics/dist/
/Homework/Assignment 3/Structures Movie Data/dist/
/Homework/Assignment 3/Structures Movie Data/build/
/Homework/Assignment 3/11.9/build/
/Homework/Assignment 3/11.9/dist/
